#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding-top: 48px; /* Height of navbar */
    width: 230px;
}

.main-content {
    margin-left: 230px;
}