# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

__pycache__/

# Virtual environment
venv/
.venv/
.env

# VSCode settings
.vscode/

# Old Python project files
archive_ref/

# config
config/

# PRD
project_requirements.md

# Github Copilot instructions
.github/instructions/