{% extends "base.html" %}

{% block content %}
  <div class="container-fluid main-content">
    <div class="row">
      <div class="col-12 col-xl-8">
        <div id="balance"></div>
        <div class="card">
          <div class="card-header">
            Expenses and incomes
          </div>
          <div class="card-body">
            <div id="transactions-chart">{{ transactions_chart|safe }}</div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Expenses by category
          </div>
          <div class="card-body">
            <div id="categories-chart">{{ categories_chart|safe }}</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Latest transactions</h5>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                {% for transaction in transactions_df.head(10).itertuples(index=False) %}
                  <tr>
                    <td>{{ transaction.booking_date.strftime("%d-%m-%Y") }}</td>
                    <td>{{ transaction.desc }}</td>
                    <td>{{ transaction.amount ~ " " ~ transaction.currency }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}